.about{
    display: flex;
    justify-content: space-between;
    &::before{
        content: '';
        width: 436px;
        height: 436px;
        position: absolute;
        border-radius: 50%;
        background-color: $gray-blue;
        box-shadow: 0px 4px 50px #2EBBF5;
        transform: translateY(60px);
    }
    &-img{
        position: relative;
        width: 600px;
        margin: 0;
    }
    &-circle{
        display: flex;
        position: relative;
        img{
            position: absolute;
            top: -480px;
            left: 450px;
        }
    }
    &-cart{
        padding: 15px 15px;
        font-size: 23px;
        color: #fff;
        background-color: $color-main;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50% ;
        border: 6px solid rgba(46, 187, 245, 0.15);
        outline:6px solid rgba(46, 187, 245, 0.1);
    }
    .right{
        text-align: center;
        &-logo{
            padding-top: 85px;
            border-bottom: 1px solid $gray-blue;
        }
        &-title{
            width: 447px;
            height: 58px;
            padding: 0 20px;
            margin-top: 20px;
            margin-bottom: 35px;
            font-weight: 500;
            font-size: 24px;
            text-align: center;
            color: #fff;
        }
        &-phone{
            position: relative;
            display: inline-block;
            padding-right: 20px;
            padding-top: 12px;
            width: 300px;
            height: 66px;
            background-color: $gray-blue;
            box-shadow: 0px 0px 25px rgba(91, 204, 249, 0.3);
            border-radius: 30px;
            a{
                text-decoration: none;
                font-size: 18px;
                color: #fff;
                :nth-child(2){
                    font-size: 16px;
                    font-weight: normal;
                    padding-top: 5px;
                }
            }
        }
        &-icon{
            position: absolute;
            right: 10px;
            top: 8px;
        }
    }
    .plus {
        &-item{
            position: absolute;
            cursor: pointer;
            border-radius: 100%;
            z-index: 1;
            &:nth-child(1){
                right: 100px;
                top: 11%;
            }
            &:nth-child(2){
                right: 50px;
                top: 34%;
            }
            &:nth-child(3){
                right: 50px;
                top: 61%;
            }
            &:nth-child(4){
                right: 110px;
                top: 84%;
            }
        }
        &-cir {
            position: absolute;
            width: 4.8vw;
            height: 4.8vw;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-color: rgba(64, 188, 238, 0.1);
            border-radius: 100%;
            z-index: -1;
            -webkit-animation:beat .001s infinite ;
            animation:beat .0001s infinite ;
        }
        @keyframes beat{
            0% {
                -webkit-box-shadow: 0 0 0 0 rgb(117 187 236 / 70%);
                box-shadow: 0 0 0 0 rgb(117 187 236 / 70%);
            }
            
            70% {
                -webkit-box-shadow: 0 0 0 10px rgb(117 187 236 / 0%);
                box-shadow: 0 0 0 10px rgb(117 187 236 / 0%);
            }
            100% {
                -webkit-box-shadow: 0 0 0 0 rgb(117 187 236 / 0%);
                box-shadow: 0 0 0 0 rgb(117 187 236 / 0%);
            }
        }
        &-img {
            height: 45px;
            width: 45px;
            flex-shrink: 0;
            border-radius: 100%;
            -webkit-box-shadow: 0 0 106px rgb(44 186 243 / 15%);
            box-shadow: 0 0 106px rgb(44 186 243 / 15%);
            background-color: #212747;
            z-index: 20;
            position: relative;
            -webkit-transition: all .3s;
            transition: all .3s;
            padding: 11px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
}