.header-bgr{
    height: 2561px;
    background: url('../img/bg1.jpg') no-repeat top center / cover ;
}
.header{
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    &-logo{
        height: 43px;
        padding-right: 20px;
    }
    &-item{
        width: 141px;
        img{
            float: left;
            padding-right: 10px;
        }
    }
    &-phone{
        display: flex;
        align-items: center;
        img{
            float: left;
            padding-right: 10px;

        }
    }
    &-item-3{
        position: relative;
        p{
            width: 168px;
            height: 46px;
            border-radius: 58px;
            padding-left: 60px;
            text-align: center;
            line-height: 46px;
            background-color: $gray-blue;
        }
    }
    &-img-3{
        position: absolute;
        top: -20%;
    }
    &-whatapp{
        width: 115px;
        height: 46px;
        line-height: 46px;
        background-color: #fff;
        padding: 0 10px;
        border-radius: 58px;
        float: left;
        color: #000;
        .fa-whatsapp{
            color: $green;
            font-size: 23px;
        }
    }
    .whatapp-desc{
        color: $green;
    }
    &-phone{
        img{
            position: relative;
           &::after{
               position: absolute;
               content: '';
               width: 2;
               height: 2;
               border-radius: 100rem;
           }
        }
        span{
            text-align: center;
            padding-left: 10px;
            border-bottom: 1px #fff dashed;
            padding-bottom: 10px;
        }
        .phone-caption{
            color: $green;
        }
        .phone-number{
            font-weight: 700;
            font-size: 18px;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }

}















