.sucseed{
    background-color: $color-main;
    position: relative;
    &-title{
        text-align: center;
        font-size: 30px;
        color: #fff;
        position: relative;
        margin-bottom: 79px;
        padding-top: 30px;
        font-weight: 600;
        &::before{
            bottom: -10px;
            content: '';
            left: 50%;
            transform: translateX(-50%);
            background-color: $gray-blue;
            width: 112px;
            height: 5px;
            position: absolute;
        }
    }
    &-item{
        text-align: center;
    }
    &-img{
        position: relative;
        z-index: 10;
        &::before {
            content: "";
            height: 100%;
            width: 100%;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            background: #2EBBF5;
            opacity: 0.7;
            filter: blur(17px);
        }
    }
    &-number {
        font-size: 48px;
        color: #fff;
        font-weight: 700;
    }
    &-desc {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin-top: 20px;
    }
    &-img{
        width:108px;
        height:108px;
        border:1px solid #CCC;
        position:relative;
        top:0; bottom:0; left:0;right:0;
        margin:auto;
        border-radius:50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    &-circle{
        width:11px;
        height:11px;
        background-color: #fff;
        border-radius: 50%;
        position:absolute;
        top:31px; bottom:0; left:0;right:0;
        overflow:hidden;
        margin:auto;
        animation: circle .01s linear infinite;
    }
    @keyframes circle{
        0%{
            transform:rotate(0deg)
                    translate(-53px)
                    rotate(0deg);
        
        }
        100%{
            transform:rotate(360deg)
                    translate(-53px)
                    rotate(-360deg);
                   
        }
    }
    &-map{
        margin: 80px 0;
        display: flex;
        width: 50%;
        p{
            font-size: 20px;
            color: #fff;
        }
        span{
            font-weight: 700;
        }
    }
    .icon{
        font-size: 26px;
        color: $gray-blue;
        float: left;
        padding-right: 20px;
        padding-top: 5px;
        padding-left: 20px;
    }
    &-map-member{
        // position: absolute;
        transform: translateX(-45%);
        width: 712px;
    }
    &-map-img{
        position: absolute;
        bottom: 80px;
        right: 80px;

    }
}